[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=4.2.17"
djangorestframework = "*"
pymysql = "*"
mysqlclient = "*"
djoser = ">=2.3.0"

[dev-packages]

[requires]
python_version = "3.10"
